body{
  font-family: "Open Sans", sans-serif;
}


/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}

.nav-title{
  color: var(--Dark-01, #181818);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}


.text-primary{
  color: #FD6E0A;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.btn-primar{
border-radius: 5px;
background: #FD6E0A;
color: white;
border: 0;
font-size: 20px;
font-style: normal;
font-weight: 700;
padding: 15px 35px;
}

/* header related style */
.header{
  background-color: #FFF8F3;
  background-image: url('images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner{
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content{
  max-width: 500px;
}

.banner .profile{
  width: 584px;
}

.banner-greeting{
  font-size: 45px;
  margin-bottom: 0;
}

.banner-title{
  font-size: 85px;
font-style: normal;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
}

.banner-description{
  margin-bottom: 20px;
  max-width: 585px;
}

header p{
  color:  #757575;
  font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

/* main section styles */
main{
  max-width: 1140px;
  margin: 0 auto;
}


.section-title{
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description{
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.about-info-container{
  display: flex;
  justify-content: space-around;
}

.about-info{
  text-align: center;
}

#what-i-do-description{
  padding: 30px 150px;
}
/* about section */
.About{
  border-radius: 10px;
  background: #FFF8F3;
  padding: 130px;
  margin: 130px;
}

/* skill related styles */

.skill-container{
  display: flex;
  gap: 24px;
}

.skill{
  padding: 30px;
  border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description{
  color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 28px; /* 175% */
}

main section{
  margin-top: 130px;
}

.resume-title-column{
  color: #474747;
font-size: 30px;
font-weight: 700;
}